.edui-toolbar .btn .icon-bold{
    background-position: 0 0;
}
.edui-toolbar .btn .icon-italic {
    background-position: -60px 0;
}
.edui-toolbar .btn .icon-underline {
    background-position: -140px 0;
}